Repository 4C-multiphysics/4C, pull requests merged in 2025-02, with the labels that each got.

#299 Provide more input metadata for schema generation
  apps/global_full/4C_global_full_main.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module.hpp
Labels: team: input

#315 Minor enhancements to all_of and one_of
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#316 Allow to read real yaml as input
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/src/4C_io_yaml_emitter.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_data/4C_global_data_read.cpp
Labels: team: input

#318 Minor fixes and asserts in InputSpecs
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/inpar/4C_inpar_s2i.cpp
Labels: team: input

#324 Fix failing main branch due to wrong input files
  tests/input_files/poro_new_solid_nitsche_contact3D_twoelem_new_struc.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_twosided_new_struc.dat
  tests/input_files/poro_solid_nitsche_contact3D_twoelem_wonopen_new_struc.dat
Labels: priority: high

#320 Implement user-friendly yaml error handling
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#325 Remove InputSpecBuilders::user_defined
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/mat/4C_mat_muscle_combo.cpp
  src/mixture/4C_mixture_rule_map.cpp
Labels: type: clean code, team: input

#327 Github: enable dependabot updates for actions
  .github/dependabot.yml
Labels: team: infrastructure

#326 Wrap Teuchos::setStringToIntegralParameter
  src/beamcontact/4C_beamcontact_input.cpp
  src/browniandyn/4C_browniandyn_input.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
  src/cut/4C_cut_input.cpp
  src/inpar/4C_inpar_IO_monitor_structure_dbc.cpp
  src/inpar/4C_inpar_IO_runtime_output.cpp
  src/inpar/4C_inpar_IO_runtime_output_fluid.cpp
  src/inpar/4C_inpar_IO_runtime_output_structure_beams.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.cpp
  src/inpar/4C_inpar_IO_runtime_vtk_output_structure.cpp
  src/inpar/4C_inpar_IO_runtime_vtp_output_structure.cpp
  src/inpar/4C_inpar_beam_to_solid.cpp
  src/inpar/4C_inpar_beaminteraction.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_binningstrategy.cpp
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_cardiac_monodomain.cpp
  src/inpar/4C_inpar_cardiovascular0d.cpp
  src/inpar/4C_inpar_constraint_framework.cpp
  src/inpar/4C_inpar_contact.cpp
  src/inpar/4C_inpar_ehl.cpp
  src/inpar/4C_inpar_elch.cpp
  src/inpar/4C_inpar_elemag.cpp
  src/inpar/4C_inpar_fbi.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fpsi.cpp
  src/inpar/4C_inpar_fs3i.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_geometry_pair.cpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_levelset.cpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_mpc_rve.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_pasi.cpp
  src/inpar/4C_inpar_plasticity.cpp
  src/inpar/4C_inpar_poroelast.cpp
  src/inpar/4C_inpar_porofluidmultiphase.cpp
  src/inpar/4C_inpar_poromultiphase.cpp
  src/inpar/4C_inpar_poromultiphase_scatra.cpp
  src/inpar/4C_inpar_poroscatra.cpp
  src/inpar/4C_inpar_problemtype.cpp
  src/inpar/4C_inpar_rebalance.cpp
  src/inpar/4C_inpar_s2i.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_searchtree.cpp
  src/inpar/4C_inpar_solver.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
  src/inpar/4C_inpar_sti.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_thermo.cpp
  src/inpar/4C_inpar_tsi.cpp
  src/inpar/4C_inpar_volmortar.cpp
  src/inpar/4C_inpar_wear.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/lubrication/src/4C_lubrication_input.cpp
Labels: team: input

#329 Conversion of InputParameterContainer to Teuchos::PL
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
Labels: type: enhancement, team: input

#330 InputSpec: clearly state supported types for input
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#337 Allow reading a few more values as bools from yaml files
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
Labels: team: input

#338 Minor cleanup new structure vtk output
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.cpp
  src/structure_new/src/output/4C_structure_new_discretization_runtime_output_params.hpp
Labels: taskforce: output

#336 Minor enhancements and fixes in new input mechanism
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_value_parser.cpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/io/tests/4C_io_value_parser_test.cpp
Labels: type: bug report, team: input

#335 Enable Nitsche contact in new pressure-velocity-based solid-poro element
  src/contact/4C_contact_nitsche_integrator_poro.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib_nitsche.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  tests/input_files/new_solidporo_pressure_velocity_based_nitsche_contact3D_twoelem.dat
  tests/input_files/new_solidporo_pressure_velocity_based_nitsche_contact3D_twoelem_wonopen_new_struc.dat
  tests/list_of_tests.cmake
Labels: taskforce: solid elements

#349 Set enum parameters directly instead of via string
  src/adapter/4C_adapter_scatra_base_algorithm.cpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_meshtying_manager.cpp
  src/contact/4C_contact_meshtying_strategy_factory.cpp
  src/elemag/4C_elemag_dyn.cpp
  src/scatra/4C_scatra_timint_elch_scl.cpp
  src/ssi/4C_ssi_utils.cpp
  src/ssti/4C_ssti_algorithm.cpp
Labels: team: input

#350 Fix a parser bug for single defaulted dat params
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: type: bug report, team: input

#351 Trim descriptions when printing to dat comments
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/utils/src/string_utils/4C_utils_string.cpp
  src/core/utils/tests/string_utils/4C_utils_string_test.cpp
Labels: team: input

#360 Remove STRUCT_CURRENT_VOLUME output option
  src/core/legacy_enum_definitions/4C_legacy_enum_definitions_element_actions.hpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_wear.cpp
  src/so3/4C_so3_hex8.hpp
  src/so3/4C_so3_hex8_evaluate.cpp
  src/so3/4C_so3_sh8_evaluate.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.cpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_group.hpp
  src/solver_nonlin_nox/4C_solver_nonlin_nox_interface_required.hpp
  src/structure/4C_structure_timint.cpp
  src/structure/4C_structure_timint.hpp
  src/structure_new/src/4C_structure_new_integrator.cpp
  src/structure_new/src/4C_structure_new_integrator.hpp
  src/structure_new/src/4C_structure_new_timint_base.cpp
  src/structure_new/src/4C_structure_new_timint_base.hpp
  src/structure_new/src/4C_structure_new_timint_basedataio.cpp
  src/structure_new/src/4C_structure_new_timint_basedataio.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_structure.hpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.cpp
  src/structure_new/src/nonlinear_solver/4C_structure_new_timint_noxinterface.hpp
  src/w1/4C_w1_evaluate.cpp
Labels: taskforce: output, team: output

#363 Fix asan in reduced lung
  src/reduced_lung/4C_reduced_lung_main.cpp
Labels: priority: high

#366 Input: ensure printable names and descriptions
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
Labels: type: clean code, team: input

#362 Add InputSpecBuilders::list()
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#370 Update metadata file to emit lists
  src/core/io/src/4C_io_input_file_utils.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
Labels: team: input

#368 InputSpec: support more expressive map<string,T>
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/io/tests/4C_io_value_parser_test.cpp
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.hpp
  unittests/poromultiphase_scatra/4C_poromultiphase_scatra_function_test.cpp
Labels: type: enhancement, team: input

#373 Let InputFile know about the InputSpec
  apps/global_full/4C_global_full_inp_control.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/pre_exodus/4C_pre_exodus_validate.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_data/4C_global_data_read.hpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module.hpp
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro1.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro2.mat
  unittests/mat/4C_electrode_test.cpp
Labels: team: input

#383 [thermo] Remove explicit Euler enum
  src/inpar/4C_inpar_thermo.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
Labels: team: thermo

#381 [thermo] Add energy CSV runtime output
  src/inpar/4C_inpar_thermo.cpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  tests/input_files/annulus-energy-thermo.csv
  tests/input_files/thermo3D_annulus_anisotropic_statics.dat
  tests/input_files/thermo_bar_DBC_genalpha.dat
  tests/input_files/thermoconvection_Tempn.dat
  tests/input_files/thermoconvection_Tempnp.dat
  tests/input_files/thermoconvection_tempnp_genalpha.dat
  tests/input_files/tsi_geonln_heatconvection_iterstagg.dat
  tests/input_files/tsi_geonln_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_geonln_necking_fbar_thrplast.dat
  tests/input_files/tsi_geonln_plexichannel_varyE_OST_monolithic.dat
  tests/input_files/tsi_geonln_plexichannel_varyE_OST_monolithic_mergeTSImatrix.dat
  tests/input_files/tsi_geonln_tet4_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_geonln_tsiload_hex27_flexoutsurf_monolithic.dat
  tests/input_files/tsi_heatflux_flexoutsurf_monolithic.dat
  tests/input_files/tsi_heatflux_monolithic_pbc.dat
  tests/input_files/tsi_locsys_monolithic.dat
  tests/input_files/tsi_plexichannel_varyE_monolithic.dat
  tests/input_files/volmortar3D_tsi_error.dat
  tests/list_of_tests.cmake
Labels: taskforce: output, type: enhancement, team: output, team: thermo

#380 InputSpec can emit data to yaml files
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: type: enhancement, team: input

#386 InputFile: allow arbitrary FUNCT<n> sections
  src/core/io/src/4C_io_input_file.cpp
  src/global_data/4C_global_data_read.cpp
Labels: priority: high, type: bug report, team: input

#387 Fix reading "none" values from yaml
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: type: bug report, team: input

#384 Improvements to input mechanism
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_data/4C_global_data_read.cpp
Labels: team: input

#391 Better errors when entering wrong input
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#382 Allow 4C to convert dat to yaml
  apps/global_full/4C_global_full_main.cpp
  cmake/functions/four_c_testing_functions.cmake
  src/core/comm/src/4C_comm_utils.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/inpar/4C_inpar_validparameters.hpp
  tests/input_files/mixture_solid_material_viscoelasthyper.4C.yaml
  tests/input_files/solid_ele_hex8_Standard_eas_none_stressout.4C.yaml
  tests/input_files/solid_ele_hex8_Standard_shell_eas_ans.4C.yaml
  tests/input_files/solid_ele_wedge6_Standard_shell_ans.4C.yaml
  tests/input_files/solid_ele_wedge6_Standard_shell_eas_ans.4C.yaml
  tests/input_files/solid_material_prestress_iterative_spring_dashpot.4C.yaml
  tests/list_of_tests.cmake
Labels: team: input

#393 Emit type metadata in a easier parseable format
  cmake/configure/configure_ryml.cmake
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  tests/input_files/solid_material_prestress_iterative_spring_dashpot.4C.yaml
Labels: team: input

#402 [thermo] Move input params to thermo module
  src/contact/4C_contact_lagrange_strategy_tsi.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.hpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_thermo.hpp
  src/inpar/4C_inpar_validconditions.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/thermo/src/4C_thermo_adapter.cpp
  src/thermo/src/4C_thermo_adapter.hpp
  src/thermo/src/element/4C_thermo_ele_boundary_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.cpp
  src/thermo/src/element/4C_thermo_ele_impl.hpp
  src/thermo/src/implicit/4C_thermo_timint.cpp
  src/thermo/src/implicit/4C_thermo_timint.hpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.cpp
  src/thermo/src/implicit/4C_thermo_timint_genalpha.hpp
  src/thermo/src/implicit/4C_thermo_timint_impl.cpp
  src/thermo/src/implicit/4C_thermo_timint_impl.hpp
  src/thermo/src/implicit/4C_thermo_timint_ost.hpp
  src/thermo/src/implicit/4C_thermo_timint_statics.hpp
  src/thermo/src/utils/4C_thermo_aux.cpp
  src/thermo/src/utils/4C_thermo_aux.hpp
  src/thermo/src/utils/4C_thermo_input.cpp
  src/thermo/src/utils/4C_thermo_input.hpp
  src/tsi/4C_tsi_monolithic.cpp
  src/tsi/4C_tsi_monolithic.hpp
  tests/input_files/thermo3D_annulus_anisotropic_statics.dat
Labels: taskforce: modularization, type: clean code, team: thermo

#401 Remove gmsh functions from xfem
  src/fluid_xfluid/4C_fluid_xfluid.cpp
  src/xfem/4C_xfem_coupling_fpi_mesh.cpp
  src/xfem/4C_xfem_coupling_fpi_mesh.hpp
  src/xfem/4C_xfem_coupling_mesh.cpp
  src/xfem/4C_xfem_mesh_projector.cpp
  src/xfem/4C_xfem_mesh_projector.hpp
  src/xfem/4C_xfem_xfluid_contact_communicator.cpp
  src/xfem/4C_xfem_xfluid_contact_communicator.hpp
  src/xfem/4C_xfem_xfluid_timeInt.cpp
  src/xfem/4C_xfem_xfluid_timeInt.hpp
Labels: taskforce: output, type: clean code, team: output

#406 [NOX] Remove "Modified" parameter list
  src/contact/4C_contact_paramsinterface.hpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.cpp
  src/structure_new/src/implicit/4C_structure_new_impl_generic.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_data.hpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.cpp
  src/structure_new/src/model_evaluator/4C_structure_new_model_evaluator_manager.hpp
Labels: type: clean code, team: solvers

#392 Implement pressure-velocity based solid-poro-scatra element with new solid elements
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_scatra.hpp
  src/poroelast_scatra/4C_poroelast_scatra_utils_clonestrategy.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_factory.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based_evaluate.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_properties.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_utils.hpp
  tests/input_files/fps3i_reaction.dat
  tests/input_files/poro_3D_scatra_homogeneous_coupling_reacstart.dat
  tests/input_files/poro_3D_scatra_mono_hex8.dat
  tests/input_files/poro_3D_scatra_part_hex8.dat
  tests/input_files/poro_scatra_contact3D_two_cubes.dat
Labels: taskforce: solid elements

#411 Ignore memory leaks (from MPI) for yaml convert
  cmake/functions/four_c_testing_functions.cmake
Labels: priority: high, type: bug report

#403 [epetra] Wrapper for Epetra_CrsGraph
  src/adapter/4C_adapter_fld_fluid.hpp
  src/adapter/4C_adapter_fld_wrapper.hpp
  src/contact/4C_contact_interface.cpp
  src/core/binstrategy/4C_binstrategy.cpp
  src/core/fem/src/condition/4C_fem_condition_periodic.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/discretization/4C_fem_discretization_partition.cpp
  src/core/fem/src/general/utils/4C_fem_general_assemblestrategy.hpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/io/src/4C_io_meshreader.cpp
  src/core/io/src/4C_io_meshreader.hpp
  src/core/linalg/src/sparse/4C_linalg_graph.cpp
  src/core/linalg/src/sparse/4C_linalg_graph.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.cpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrix.hpp
  src/core/linalg/src/sparse/4C_linalg_sparsematrixbase.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_assemble.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_create.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_manipulation.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.cpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_math.hpp
  src/core/linalg/src/sparse/4C_linalg_utils_sparse_algebra_print.hpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_manipulation_test.np2.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_teko.cpp
  src/core/linear_solver/src/preconditioner/4C_linear_solver_preconditioner_type.hpp
  src/core/rebalance/src/4C_rebalance_graph_based.cpp
  src/core/rebalance/src/4C_rebalance_graph_based.hpp
  src/fluid/4C_fluid_discret_extractor.cpp
  src/fluid/4C_fluid_timint.hpp
  src/fluid/4C_fluid_xwall.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.cpp
  src/fsi/src/partitioned/4C_fsi_partitioned.hpp
  src/global_data/4C_global_data_read.cpp
  src/levelset/4C_levelset_algorithm.hpp
  src/levelset/4C_levelset_algorithm_utils.cpp
  src/levelset/4C_levelset_timint_ost.cpp
  src/levelset/4C_levelset_timint_ost.hpp
  src/levelset/4C_levelset_timint_stat.hpp
  src/mortar/4C_mortar_interface.cpp
  src/xfem/4C_xfem_discretization_utils.cpp
Labels: taskforce: tpetra, type: clean code

#410 InputSpec: allow for arbitrarily nested vectors and maps
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_types.hpp
  src/core/io/src/4C_io_value_parser.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/io/tests/4C_io_value_parser_test.cpp
  src/xfem/4C_xfem_xfluid_timeInt.cpp
  src/xfem/4C_xfem_xfluid_timeInt.hpp
Labels: type: enhancement, team: input

#416 Extract InputParameterContainer::add to own header
  src/core/io/src/4C_io_input_parameter_container.cpp
  src/core/io/src/4C_io_input_parameter_container.hpp
  src/core/io/src/4C_io_input_parameter_container.templates.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_parameter_container_test.cpp
  unittests/mat/4C_electrode_test.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Labels: type: clean code, team: input

#419 Quote string values and descriptions in yaml
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml.cpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#418 Record compile time tracing in nightly tests
  .github/workflows/nightly_tests.yml
Labels: team: infrastructure, team: testing

#427 Make bool params take a bool default value
  src/adapter/4C_adapter_fld_base_algorithm.cpp
  src/ale/4C_ale_input.cpp
  src/beamcontact/4C_beamcontact_input.cpp
  src/browniandyn/4C_browniandyn_input.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
  src/cut/4C_cut_input.cpp
  src/fluid/4C_fluid_DbcHDG.cpp
  src/fluid/4C_fluid_implicit_integration.cpp
  src/fluid/4C_fluid_timint_red.cpp
  src/inpar/4C_inpar_IO_monitor_structure_dbc.cpp
  src/inpar/4C_inpar_IO_runtime_output.cpp
  src/inpar/4C_inpar_IO_runtime_output_fluid.cpp
  src/inpar/4C_inpar_IO_runtime_output_structure_beams.cpp
  src/inpar/4C_inpar_IO_runtime_vtk_output_structure.cpp
  src/inpar/4C_inpar_IO_runtime_vtp_output_structure.cpp
  src/inpar/4C_inpar_beam_to_solid.cpp
  src/inpar/4C_inpar_beaminteraction.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_bio.cpp
  src/inpar/4C_inpar_cardiovascular0d.cpp
  src/inpar/4C_inpar_contact.cpp
  src/inpar/4C_inpar_ehl.cpp
  src/inpar/4C_inpar_elch.cpp
  src/inpar/4C_inpar_elemag.cpp
  src/inpar/4C_inpar_fbi.cpp
  src/inpar/4C_inpar_fluid.cpp
  src/inpar/4C_inpar_fluid.hpp
  src/inpar/4C_inpar_fpsi.cpp
  src/inpar/4C_inpar_fs3i.cpp
  src/inpar/4C_inpar_fsi.cpp
  src/inpar/4C_inpar_geometric_search.cpp
  src/inpar/4C_inpar_io.cpp
  src/inpar/4C_inpar_levelset.cpp
  src/inpar/4C_inpar_mortar.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_pasi.cpp
  src/inpar/4C_inpar_poroelast.cpp
  src/inpar/4C_inpar_porofluidmultiphase.cpp
  src/inpar/4C_inpar_poromultiphase.cpp
  src/inpar/4C_inpar_poromultiphase_scatra.cpp
  src/inpar/4C_inpar_poroscatra.cpp
  src/inpar/4C_inpar_s2i.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
  src/inpar/4C_inpar_ssi.cpp
  src/inpar/4C_inpar_ssti.cpp
  src/inpar/4C_inpar_sti.cpp
  src/inpar/4C_inpar_structure.cpp
  src/inpar/4C_inpar_tsi.cpp
  src/inpar/4C_inpar_validparameters.cpp
  src/inpar/4C_inpar_volmortar.cpp
  src/inpar/4C_inpar_wear.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/lubrication/src/4C_lubrication_input.cpp
  src/thermo/src/utils/4C_thermo_input.cpp
Labels: team: input

#430 Improve error for wrong selection value in dat
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#421 Allow to read yaml files with --- document markers
  src/core/io/src/4C_io_input_file.cpp
Labels: type: bug report, team: input

#434 Enable Noneable in selection
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_types.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/utils/src/parameters/4C_utils_parameter_list.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_utils.hpp
Labels: team: input

#439 Fix Noneable for containers
  src/core/io/src/4C_io_input_types.hpp
  src/core/io/src/4C_io_yaml.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: type: bug report, team: input

#442 Remove CONTACT_REGULARIZATION
  src/contact/4C_contact_abstract_data_container.cpp
  src/contact/4C_contact_abstract_data_container.hpp
  src/contact/4C_contact_abstract_strategy.cpp
  src/contact/4C_contact_abstract_strategy.hpp
  src/contact/4C_contact_lagrange_strategy.cpp
  src/contact/4C_contact_lagrange_strategy.hpp
  src/contact/4C_contact_manager.cpp
  src/contact/4C_contact_strategy_factory.cpp
  src/inpar/4C_inpar_contact.cpp
  src/inpar/4C_inpar_contact.hpp
Labels: team: contact

#444 Clean up red airways optional input parameters
  src/mat/4C_mat_maxwell_0d_acinus_DoubleExponential.cpp
  src/mat/4C_mat_maxwell_0d_acinus_Exponential.cpp
  src/mat/4C_mat_maxwell_0d_acinus_Ogden.cpp
  src/red_airways/4C_red_airways_acinus.cpp
  src/red_airways/4C_red_airways_airway.cpp
  src/red_airways/4C_red_airways_elem_params.hpp
  src/red_airways/4C_red_airways_input.cpp
  tests/input_files/red_airway_1airway_acinus_collapsible.dat
  tests/input_files/red_airway_2_acinus_of_3Exponential_alveolar_ducts.dat
  tests/input_files/red_airway_3airway_2acinus_awacinter.dat
  tests/input_files/red_airway_5000_airway_acinus_collapsible.dat
  tests/input_files/red_airway_acinus_VolumetricOgden.dat
  tests/input_files/red_airway_acinus_VolumetricOgden_prestress.dat
  tests/input_files/red_airway_acinus_inter_acinar.dat
  tests/input_files/red_airway_acinus_inter_acinar_box.dat
  tests/input_files/red_airway_acinus_of_3Exponential_alveolar_ducts.dat
  tests/input_files/red_airway_acinus_switchFlowPressureBC.dat
  tests/input_files/red_airway_acinus_volumedep_Ppl.dat
  tests/input_files/red_airway_one_acinus_DoubleExponential.dat
  tests/input_files/red_airway_one_acinus_Exponential.dat
  tests/input_files/red_airway_one_acinus_NeoHookean.dat
  tests/input_files/reduced_lung_3_aw_2_tu.dat
  tests/input_files/reduced_lung_terminal_unit.dat
Labels: type: clean code, team: input, team: reduced_fluid_models

#441 Replace most parameters with .required = false with better constructs
  src/bele/4C_bele_bele3.cpp
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/elemag/4C_elemag_diff_ele.cpp
  src/elemag/4C_elemag_ele.cpp
  src/fluid_ele/4C_fluid_ele_hdg.cpp
  src/fluid_ele/4C_fluid_ele_hdg_weak_comp.cpp
  src/inpar/4C_inpar_elemag.cpp
  src/inpar/4C_inpar_xfem.cpp
  src/mat/4C_mat_anisotropy.cpp
  src/mat/4C_mat_anisotropy_cylinder_coordinate_system_manager.cpp
  src/mat/4C_mat_anisotropy_utils.cpp
  src/mat/4C_mat_constraintmixture.cpp
  src/mat/4C_mat_crystal_plasticity.cpp
  src/mat/4C_mat_growthremodel_elasthyper.cpp
  src/mat/4C_mat_membrane_active_strain.cpp
  src/mat/4C_mat_myocard.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_viscoanisotropic.cpp
  src/mat/elast/4C_mat_elast_coupanisoneohooke.cpp
  src/mat/elast/4C_mat_elast_coupanisoneohooke_VarProp.cpp
  src/mat/elast/4C_mat_elast_coupanisopow.cpp
  src/mat/elast/4C_mat_elast_couptransverselyisotropic.cpp
  src/mat/elast/4C_mat_elast_isoanisoexpo.cpp
  src/mat/elast/4C_mat_elast_summand.cpp
  src/membrane/4C_membrane_eletypes.cpp
  src/scatra_ele/4C_scatra_ele.cpp
  src/scatra_ele/4C_scatra_ele_hdg.cpp
  src/shell7p/4C_shell7p_ele.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  src/so3/4C_so3_hex27.cpp
  src/so3/4C_so3_hex8.cpp
  src/so3/4C_so3_poro.cpp
  src/so3/4C_so3_poro_eletypes.cpp
  src/so3/4C_so3_sh8.cpp
  src/so3/4C_so3_tet10.cpp
  src/so3/4C_so3_tet4.cpp
  src/solid_3D_ele/4C_solid_3D_ele.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele.cpp
  src/w1/4C_w1_poro.cpp
  src/w1/4C_w1_poro_eletypes.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
Labels: type: clean code, team: input

#452 Fix problems in input of solid_poro
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_calc_lib.hpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_pressure_velocity_based.cpp
Labels: priority: high

#446 Add input specs to poromultiphasescatra functions
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function_parameters.hpp
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse.dat
  tests/input_files/poromultielastscatra_2D_quad4_linebased_artery_coupling_vessel_collapse_free_hanging.dat
  tests/input_files/poromultielastscatra_2D_quad4_tumor_angiogenesis.dat
  unittests/poromultiphase_scatra/4C_poromultiphase_scatra_function_test.cpp
Labels: type: clean code, team: poro

#454 Remove untested scatra implementations
  src/fs3i/4C_fs3i.cpp
  src/inpar/4C_inpar_scatra.cpp
  src/inpar/4C_inpar_scatra.hpp
  src/membrane/4C_membrane_scatra.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_refconc_reac.cpp
  src/scatra_ele/4C_scatra_ele_boundary_calc_refconc_reac.hpp
  src/scatra_ele/4C_scatra_ele_boundary_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_boundary_factory.cpp
  src/scatra_ele/4C_scatra_ele_calc_refconc_reac.cpp
  src/scatra_ele/4C_scatra_ele_calc_refconc_reac.hpp
  src/scatra_ele/4C_scatra_ele_calc_utils.cpp
  src/scatra_ele/4C_scatra_ele_evaluate.cpp
  src/scatra_ele/4C_scatra_ele_factory.cpp
  src/scatra_ele/4C_scatra_ele_hdg.cpp
  src/scatra_ele/4C_scatra_ele_hdg_intfaces_calc.cpp
  src/scatra_ele/4C_scatra_ele_hdg_intfaces_calc.hpp
  src/scatra_ele/4C_scatra_ele_input.cpp
  src/shell7p/4C_shell7p_ele_scatra.cpp
  src/so3/4C_so3_poro_p1_scatra.cpp
  src/so3/4C_so3_poro_scatra.cpp
  src/solid_poro_3D_ele/4C_solid_poro_3D_ele_utils.hpp
  src/solid_scatra_3D_ele/4C_solid_scatra_3D_ele_lib.cpp
  src/ssi/4C_ssi_partitioned_2wc.cpp
  src/w1/4C_w1_poro_p1_scatra.cpp
  src/w1/4C_w1_poro_scatra.cpp
  src/w1/4C_w1_scatra.cpp
Labels: type: clean code

#459 Remove Epetra_MpiComm.h include
  apps/global_full/4C_global_full_main.cpp
  apps/post_processor/4C_post_processor.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  src/art_net/4C_art_net_art_junction.hpp
  src/art_net/4C_art_net_art_terminal_bc.hpp
  src/art_net/4C_art_net_art_write_gnuplot.hpp
  src/art_net/4C_art_net_explicitintegration.hpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer.cpp
  src/beaminteraction/4C_beaminteraction_beam_to_solid_surface_visualization_output_writer_contact.cpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_crosslinking.hpp
  src/beaminteraction/4C_beaminteraction_submodel_evaluator_spherebeamlinking.hpp
  src/core/comm/src/4C_comm_exporter.hpp
  src/core/comm/src/4C_comm_utils.cpp
  src/core/comm/src/4C_comm_utils.hpp
  src/core/comm/tests/4C_comm_mpi_utils_test.np3.cpp
  src/core/fem/src/discretization/4C_fem_discretization.hpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_bvh.cpp
  src/core/fem/src/geometric_search/4C_fem_geometric_search_distributed_tree.cpp
  src/core/fem/tests/geometric_search/4C_geometric_search_distributed_test.np3.cpp
  src/core/fem/tests/geometric_search/4C_geometric_search_test.cpp
  src/core/io/src/4C_io_control.cpp
  src/core/io/src/4C_io_hdf.hpp
  src/core/io/tests/4C_io_pstream_test.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_manipulation_test.np2.cpp
  src/core/linalg/tests/4C_linalg_utils_sparse_algebra_math_test.np2.cpp
  src/core/linalg/tests/4C_linalg_vector_test.np2.cpp
  src/core/linear_solver/src/method/4C_linear_solver_method_linalg.cpp
  src/fluid/4C_fluid_coupling_red_models.hpp
  src/fluid/4C_fluid_implicit_integration.hpp
  src/fluid/4C_fluid_utils.hpp
  src/fluid/4C_fluid_volumetric_surfaceFlow_condition.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_bfda.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_bfs.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_ccy.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_cha.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_ldc.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_ph.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_sqc.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_tgv.hpp
  src/levelset/4C_levelset_algorithm.hpp
  src/levelset/4C_levelset_dyn.cpp
  src/mortar/4C_mortar_manager_base.cpp
  src/particle_engine/4C_particle_engine_communication_utils.hpp
  src/post/4C_post_common.cpp
  src/red_airways/4C_red_airways_implicitintegration.hpp
  src/scatra/4C_scatra_timint_loma.hpp
  src/scatra/4C_scatra_timint_poromulti.hpp
  src/structure/4C_structure_timada_create.hpp
  src/structure/4C_structure_timint_create.hpp
  src/tsi/4C_tsi_dyn.cpp
  src/tsi/4C_tsi_utils.cpp
  src/xfem/4C_xfem_mesh_projector.hpp
  unittests/io/4C_discretization_nodal_coordinates_test.np3.cpp
  unittests/io/4C_gridgenerator_test.np3.cpp
Labels: taskforce: tpetra, type: clean code

#456 Add compression level as optional parameter to vtk output
  src/core/io/src/4C_io_visualization_parameters.cpp
  src/core/io/src/4C_io_visualization_parameters.hpp
  src/core/io/src/4C_io_visualization_writer_vtu_per_rank.cpp
  src/core/io/src/4C_io_visualization_writer_vtu_per_rank.hpp
  src/core/io/src/4C_io_vtk_writer_base.cpp
  src/core/io/src/4C_io_vtk_writer_base.hpp
  src/core/io/src/4C_io_vtu_writer.cpp
  src/core/io/src/4C_io_vtu_writer.hpp
  src/inpar/4C_inpar_IO_runtime_output.cpp
Labels: team: input, team: output

#457 Actually set time in varfunctions
  src/mat/4C_mat_list_reactions.cpp
  src/mat/4C_mat_list_reactions.hpp
  src/mat/4C_mat_scatra_reaction_coupling.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_artery_coupling_pair.cpp
  src/scatra_ele/4C_scatra_ele_calc_advanced_reaction.cpp
  src/scatra_ele/4C_scatra_ele_calc_multiporo_reac.cpp
  tests/input_files/poromultielastscatra_2D_quad4_hyperthermia.dat
  tests/input_files/scatra_2D_external_force.dat
Labels: type: clean code
