Repository 4C-multiphysics/4C, pull requests merged in 2025-01, with the labels that each got.

#226 Fix unit tests for transversely isotropic viscoplastic material
  src/mat/4C_mat_inelastic_defgrad_factors.cpp
  src/mat/4C_mat_inelastic_defgrad_factors.hpp
  src/mat/vplast/4C_mat_vplast_reform_johnsoncook.cpp
  unittests/mat/4C_inelastic_defgrad_factors_test.cpp
  unittests/mat/vplast/4C_vplast_reform_johnsoncook_test.cpp
Labels: team: material

#230 Use InputParameterContainer instead of LineDefinition to pass input parameters
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_gridgenerator.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/src/4C_io_linedefinition.hpp
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function.hpp
  src/core/utils/src/functions/4C_utils_function_library.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_manager.hpp
  src/core/utils/src/functions/4C_utils_function_of_time.cpp
  src/core/utils/src/functions/4C_utils_function_of_time.hpp
  src/core/utils/src/functions/4C_utils_functionvariables.cpp
  src/core/utils/src/functions/4C_utils_functionvariables.hpp
  src/core/utils/src/result_test/4C_utils_result_test.cpp
  src/core/utils/src/result_test/4C_utils_result_test.hpp
  src/fluid/4C_fluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions_combust.cpp
  src/global_data/4C_global_data_read.cpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/structure_new/src/utils/4C_structure_new_functions.cpp
Labels: type: clean code, team: input

#237 Reorganize InputSpec headers
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/global_full/4C_global_full_main.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_valid_laws.cpp
  src/contact_constitutivelaw/4C_contact_constitutivelaw_valid_laws.hpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_data/4C_global_data_read.cpp
  src/mat/4C_mat_materialdefinition.cpp
  src/mat/4C_mat_materialdefinition.hpp
Labels: type: clean code, team: input

#243 Fix a false positive gcc warning in particles
  src/particle_rigidbody/4C_particle_rigidbody.cpp
Labels: priority: high, team: particle

#241 InputFile determines huge sections automatically
  apps/global_full/4C_global_full_control.cpp
  src/core/comm/src/4C_comm_mpi_utils.hpp
  src/core/comm/src/4C_comm_pack_helpers.hpp
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_nodereader.cpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/global_data/4C_global_data_read.cpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
Labels: team: input

#239 Emit metadata for InputSpec
  src/contact_constitutivelaw/4C_contact_constitutivelaw_valid_laws.cpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_linedefinition.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/mat/4C_mat_materialdefinition.cpp
Labels: team: input

#257 Use fast ryml library instead of yaml-cpp
  CMakeLists.txt
  cmake/configure/configure_ryml.cmake
  cmake/configure/configure_yaml-cpp.cmake
  cmake/setup_install.cmake
  cmake/templates/4CConfig.cmake.in
  cmake/templates/4CSettings.cmake.in
  cmake/templates/ryml.cmake.in
  cmake/templates/yaml-cpp.cmake.in
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_yaml_emitter.hpp
  src/core/io/tests/4C_io_input_file_utils_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/inpar/4C_inpar_beampotential.cpp
  src/inpar/4C_inpar_particle.cpp
  src/inpar/4C_inpar_solver_nonlin.cpp
Labels: team: input

#264 Replace most LineDefinitions with InputSpecs
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/global_full/4C_global_full_control.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_createdis.cpp
  src/core/fem/src/general/utils/4C_fem_general_utils_createdis.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/utils/src/functions/4C_utils_function_library.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_manager.hpp
  src/core/utils/src/result_test/4C_utils_result_test.cpp
  src/core/utils/src/result_test/4C_utils_result_test.hpp
  src/fluid/4C_fluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions.cpp
  src/fluid_xfluid/4C_fluid_xfluid_functions_combust.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/module_registry/4C_module_registry_callbacks.hpp
  src/poromultiphase_scatra/4C_poromultiphase_scatra_function.cpp
  src/structure_new/src/utils/4C_structure_new_functions.cpp
Labels: team: input

#273 Extract valid materials to global legacy module and streamline input
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/create_rtdfiles/4C_create_rtdfiles_wrapper.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec.hpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_legacy_module/4C_global_legacy_module.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.cpp
  src/global_legacy_module/4C_global_legacy_module_validmaterials.hpp
  src/mat/4C_mat_materialdefinition.cpp
  src/module_registry/4C_module_registry_callbacks.hpp
Labels: taskforce: modularization, team: input, team: material

#276 Move input file utils into separate header
  apps/create_rtdfiles/4C_create_rtdfiles_utils.cpp
  apps/global_full/4C_global_full_main.cpp
  apps/pre_exodus/4C_pre_exodus.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_input_file_utils.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/4C_io_input_file_utils_test.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/global_data/4C_global_data.cpp
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_validparameters.cpp
Labels: type: clean code, team: input

#281 Check for and fix typos in remaining code and documentation files
  .pre-commit-config.yaml
  CONTRIBUTING.md
  cmake/functions/four_c_add_dependency.cmake
  cmake/functions/four_c_testing_functions.cmake
  cmake/setup_global_options.cmake
  doc/readthedocs/4Csetup.rst
  doc/readthedocs/4Ctesting.rst
  doc/readthedocs/boundaryconditions.rst
  doc/readthedocs/debugging_profiling.rst
  doc/readthedocs/developer_cmake.rst
  doc/readthedocs/functions.rst
  doc/readthedocs/howto_document.rst
  doc/readthedocs/index.rst
  doc/readthedocs/materialdevelopment.rst
  doc/readthedocs/postprocessing.rst
  doc/readthedocs/preprocessing.rst
  doc/readthedocs/python/plot.py
  doc/readthedocs/referenceintroduction.rst
  doc/readthedocs/struct_dynamics.rst
  doc/readthedocs/surface_int.rst
  doc/readthedocs/tut_fluid_preexo.rst
  doc/readthedocs/tut_fsi_preexo.rst
  doc/readthedocs/tut_fsi_preexo_2d.rst
  doc/readthedocs/tutorial_contact_3d.md
  tests/framework-test/tutorial_contact_3d.md
  tests/post_processing_test/datfile_reader.py
  tests/testconfig/README.md
  utilities/clang_tidy/filter_output.py
  utilities/code_checks/commit-msg
  utilities/create_json_schema.py
  utilities/four_c_utils/src/four_c_utils/check_filenames_and_includes.py
Labels: type: clean code, team: infrastructure

#277 InputFile::Fragment to access input file content independent of underlying format
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/io/src/4C_io_domainreader.cpp
  src/core/io/src/4C_io_elementreader.cpp
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/src/4C_io_input_file_utils.cpp
  src/core/io/src/4C_io_nodereader.cpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/global_data/4C_global_data_read.cpp
  src/particle_engine/4C_particle_engine_particlereader.cpp
Labels: team: input

#283 Remove hacky HDF5 flags and update to newer API
  src/core/io/src/4C_io.cpp
  src/core/io/src/4C_io_hdf.cpp
  src/core/io/src/4C_io_hdf.hpp
Labels: type: clean code

#292 Fix test timeout scaling for debug builds
  cmake/setup_tests.cmake
Labels: type: bug report, team: infrastructure

#293 [thermo] Add temperature runtime output
  src/global_data/4C_global_data_read.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.cpp
  src/inpar/4C_inpar_IO_runtime_output_thermo.hpp
  src/inpar/4C_inpar_validparameters.cpp
  src/thermo/src/4C_thermo_timint.cpp
  src/thermo/src/4C_thermo_timint.hpp
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-thermo.pvd
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001-0.vtu
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001-1.vtu
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001-2.vtu
  tests/input_files/ref/thermo3D_annulus_anisotropic_statics-vtk-files/thermo-00001.pvtu
  tests/input_files/thermo3D_annulus_anisotropic_statics.dat
  tests/list_of_tests.cmake
Labels: taskforce: output, team: thermo

#301 Remove input tag() in functions
  src/core/utils/src/functions/4C_utils_function.cpp
  src/core/utils/src/functions/4C_utils_function_library.cpp
  src/core/utils/src/functions/4C_utils_function_manager.cpp
  src/core/utils/src/functions/4C_utils_function_of_time.cpp
  src/core/utils/src/functions/4C_utils_functionvariables.cpp
Labels: type: clean code, team: input

#296 InputFile can read arbitrarily nested yaml objects
  src/core/io/src/4C_io_input_file.cpp
  src/core/io/src/4C_io_input_file.hpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/test_files/yaml_includes/main.yaml
  tests/input_files/solid_ele_hex8_Standard_eas_none_stressout.4C.yaml
Labels: team: input
