Repository 4C-multiphysics/4C, pull requests merged in 2025-06, with the labels that each got.

#848 Remove unused printers for elements
  src/core/fem/src/general/element/4C_fem_general_element_definition.cpp
  src/core/fem/src/general/element/4C_fem_general_element_definition.hpp
Labels: type: clean code

#849 Use yaml instead of dat in an electrode unit test
  unittests/mat/4C_electrode_test.cpp
Labels: team: input, team: scatra

#850 Initialize norms in poro scatra to avoid UB
  src/poroelast_scatra/4C_poroelast_scatra_monolithic.hpp
  tests/input_files/poro_3D_scatra_mono_hex8.4C.yaml
  tests/input_files/poro_3D_scatra_mono_hex8.dat
  tests/list_of_tests.cmake
Labels: type: bug report, team: input, team: poro, team: scatra

#857 Avoid running pre-commit hooks multiple times
  .pre-commit-config.yaml
Labels: team: infrastructure

#852 Add validation of parsed values to InputSpecs
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_validators.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/core/io/tests/4C_io_input_spec_validators_test.cpp
  src/scatra/4C_scatra_functions.cpp
Labels: type: enhancement, team: input

#867 Avoid get_condition in fluid_turbulence
  src/fluid_turbulence/4C_fluid_turbulence_boxfilter.cpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_cha.cpp
Labels: team: discretization, team: fluid

#868 Remove various #defines of constants
  src/core/fem/src/general/utils/4C_fem_general_utils_fem_shapefunctions.hpp
  src/core/utils/src/numerics/4C_utils_clnwrapper.cpp
  src/core/utils/src/numerics/4C_utils_clnwrapper.hpp
  src/cut/4C_cut_kernel.hpp
  src/fluid_turbulence/4C_fluid_turbulence_statistics_cha.cpp
  src/mat/4C_mat_plasticelasthyper.cpp
  src/mat/4C_mat_plasticelasthyper.hpp
  src/mat/elast/4C_mat_elast_aniso_structuraltensor_strategy.cpp
  src/mat/elast/4C_mat_elast_aniso_structuraltensor_strategy.hpp
Labels: type: clean code

#881 Fix failing asan for benchmark tests
  cmake/functions/four_c_auto_define_benchmark_tests.cmake
  tests/benchmark_tests/4C_benchmark_tests_main.cpp
Labels: priority: high

#882 Emit internal all_ofs to metadata
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  utilities/metadata_utils.py
Labels: team: input

#894 Simplify selection in input files
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/src/4C_io_input_spec_storage.hpp
  src/core/io/tests/4C_io_input_input_field_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
  src/scatra/4C_scatra_functions.cpp
  tests/input_files/scatra_2D_external_force_magnet.4C.yaml
  utilities/create_json_schema.py
  utilities/metadata_utils.py
Labels: team: input

#904 Allow to store input_field to structs
  src/core/io/src/4C_io_input_field.hpp
  src/core/io/src/4C_io_input_spec_builders.hpp
  src/core/io/tests/4C_io_input_field_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#905 Fix partial json schema name
  apps/global_full/CMakeLists.txt
  utilities/create_json_schema.py
Labels: team: input

#906 Convert multiscale .mat files to YAML
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_anode.mat.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_cathode.mat.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_macrotomicro.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_macrotomicro_aitken.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_macrotomicro_aitken_dofsplit.4C.yaml
  tests/input_files/elch_1D_line2_multiscale_butlervolmer_electrolyte_partitioned_microtomacro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro_partitioned_macrotomicro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_macro_partitioned_microtomacro.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro1.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro1.mat.4C.yaml
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro2.mat
  tests/input_files/scatra_1D_line2_multiscale_constperm_micro2.mat.4C.yaml
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale.4C.yaml
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat
  tests/input_files/ssi_oneway_scatra_to_solid_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat.4C.yaml
  tests/input_files/ssi_twoway_3D_1line2_elch_diffcond_multiscale.4C.yaml
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale.4C.yaml
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat
  tests/input_files/ssi_twoway_3D_line2_elch_s2i_butlervolmer_multiscale_cathode.mat.4C.yaml
Labels: team: input, team: scatra

#912 Add benchmark for InputSpec::match
  src/core/io/benchmarks/4C_io_input_benchmark.cpp
  src/core/io/benchmarks/CMakeLists.txt
Labels: team: input

#911 Disallow matching unnamed specs
  src/core/io/src/4C_io_input_spec.cpp
  src/core/io/src/4C_io_input_spec_builders.cpp
  src/core/io/tests/4C_io_input_file_test.cpp
  src/core/io/tests/4C_io_input_spec_test.cpp
Labels: team: input

#915 Add missing @endcode tag in `input_field()` doc
  src/core/io/src/4C_io_input_spec_builders.hpp
Labels: team: input

#923 Fix assertion in quaternion interpolation
  src/core/linalg/src/dense/4C_linalg_utlis_quaternion_interpolation.cpp
Labels: priority: high

#924 Clang-tidy: enable check for reserved identifiers
  .clang-tidy
  src/art_net/4C_art_net_artery.hpp
  src/contact/4C_contact_coupling2d.cpp
  src/contact/4C_contact_coupling3d.cpp
  src/contact/4C_contact_integrator.cpp
  src/contact/4C_contact_interface_tools.cpp
  src/contact/4C_contact_interpolator.cpp
  src/contact/4C_contact_line_coupling.cpp
  src/contact/4C_contact_node.cpp
  src/contact/4C_contact_tsi_interface.cpp
  src/contact/4C_contact_wear_interface.cpp
  src/fluid_ele/4C_fluid_ele_calc_poro.cpp
  src/mat/4C_mat_plasticgtn.cpp
  src/mortar/4C_mortar_element_shapefct.cpp
  src/mortar/4C_mortar_projector.cpp
  src/xfem/4C_xfem_condition_manager.hpp
Labels: type: clean code, team: infrastructure

#942 Generalize data types supported in Exporter
  src/core/comm/src/4C_comm_exporter.cpp
  src/core/comm/src/4C_comm_exporter.hpp
  src/stru_multi/4C_stru_multi_microstatic.cpp
Labels: type: clean code

#953 Adjust tolerance of gaga-FSI test
  tests/input_files/fsi_fp_mono_ss_ga_ga.4C.yaml
Labels: priority: high

#950 Clean up unused and complicated code for condition
  src/core/fem/src/condition/4C_fem_condition.cpp
  src/core/fem/src/condition/4C_fem_condition.hpp
  src/core/fem/src/condition/4C_fem_condition_definition.cpp
  src/core/fem/src/condition/4C_fem_condition_definition.hpp
  src/core/fem/src/discretization/4C_fem_discretization_conditions.cpp
  src/global_data/4C_global_data_read.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.cpp
  src/global_legacy_module/4C_global_legacy_module_validconditions.hpp
Labels: type: clean code

#948 Convert a few tests to JSON format
  .pre-commit-config.yaml
  tests/input_files/contact2D_patch_linstatic_new_struct.4C.json
  tests/input_files/contact2D_patch_linstatic_new_struct.4C.yaml
  tests/input_files/solid_ele_hex8_Standard_eas_full_stressout_2pk_strainout_gl.4C.json
  tests/input_files/solid_ele_hex8_Standard_eas_full_stressout_2pk_strainout_gl.4C.yaml
  tests/input_files/tsi_heatconvection_monolithic.4C.json
  tests/input_files/tsi_heatconvection_monolithic.4C.yaml
  tests/list_of_tests.cmake
Labels: team: infrastructure, team: input, team: testing
